In [1]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as po

In [2]:
df = pd.read_csv("C:/Temp/gdp.csv")

In [3]:
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [4]:
lst = ["IND", "CHN", "USA", "ITA"]
dfs = []
for i in lst:
    dfs.append(df[df["Country Code"]==i])
    df_pr = pd.concat(dfs, axis = 0)

In [5]:
fig = px.line(df_pr, x = "Year", y = "Value", title = "GDP Comparison "+"|".join(lst), color = "Country Name")
po.plot(fig, filename = "Comparison"+".html")

'Comparison.html'

In [6]:
"|".join(lst)

'IND|CHN|USA|ITA'

In [7]:
def compare_GDP(lst, isopen):
    dfs = []
    for i in lst:
        dfs.append(df2[df2["Country Code"]==i])
        df_pr = pd.concat(dfs, axis = 0)
        
    fig = px.line(df_pr, x = "Year", y = "GDP", title = "GDP Comparison "+"|".join(lst), color = "Country Name")
    po.plot(fig, filename = "Comparison"+".html", auto_open = isopen)

In [8]:
compare_GDP(["IND", "ITA"], True)

NameError: name 'df2' is not defined

In [36]:
lst1 = []
for c_name in df["Country Name"].unique():
    c_data = df[df["Country Name"]==c_name]
    data = c_data.values
    lst = [0]
    for i in range(1, len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        dif = round(((cur-prev)/prev)*100,2)
        lst.append(dif)
    c_data = c_data.assign(GDP = lst)
    lst1.append(c_data)

In [37]:
df2 = pd.concat(lst1, axis = 0)
print(df2)

      Country Name Country Code  Year         Value    GDP
0       Arab World          ARB  1968  2.576068e+10   0.00
1       Arab World          ARB  1969  2.843420e+10  10.38
2       Arab World          ARB  1970  3.138550e+10  10.38
3       Arab World          ARB  1971  3.642691e+10  16.06
4       Arab World          ARB  1972  4.331606e+10  18.91
...            ...          ...   ...           ...    ...
11502     Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10   1.93

[11507 rows x 5 columns]

In [47]:
c_Ind = df2[df2["Country Name"]=="Switzerland"]
c_Ind

      Country Name Country Code  Year         Value     GDP
10296  Switzerland          CHE  1960  9.522747e+09    0.00
10297  Switzerland          CHE  1961  1.071271e+10   12.50
10298  Switzerland          CHE  1962  1.187998e+10   10.90
10299  Switzerland          CHE  1963  1.306364e+10    9.96
10300  Switzerland          CHE  1964  1.448056e+10   10.85
10301  Switzerland          CHE  1965  1.534674e+10    5.98
10302  Switzerland          CHE  1966  1.648006e+10    7.38
10303  Switzerland          CHE  1967  1.774001e+10    7.65
10304  Switzerland          CHE  1968  1.894273e+10    6.78
10305  Switzerland          CHE  1969  2.052489e+10    8.35
10306  Switzerland          CHE  1980  1.190083e+11  479.82
10307  Switzerland          CHE  1981  1.089940e+11   -8.41
10308  Switzerland          CHE  1982  1.117115e+11    2.49
10309  Switzerland          CHE  1983  1.113143e+11   -0.36
10310  Switzerland          CHE  1984  1.062853e+11   -4.52
10311  Switzerland          CHE  1985  1.077661e+11    1.39
10312  Switzerland          CHE  1986  1.544824e+11   43.35
10313  Switzerland          CHE  1987  1.934661e+11   25.24
10314  Switzerland          CHE  1988  2.092982e+11    8.18
10315  Switzerland          CHE  1989  2.020787e+11   -3.45
10316  Switzerland          CHE  1990  2.580666e+11   27.71
10317  Switzerland          CHE  1991  2.611138e+11    1.18
10318  Switzerland          CHE  1992  2.718144e+11    4.10
10319  Switzerland          CHE  1993  2.643530e+11   -2.75
10320  Switzerland          CHE  1994  2.926467e+11   10.70
10321  Switzerland          CHE  1995  3.426170e+11   17.08
10322  Switzerland          CHE  1996  3.300917e+11   -3.66
10323  Switzerland          CHE  1997  2.865191e+11  -13.20
10324  Switzerland          CHE  1998  2.950452e+11    2.98
10325  Switzerland          CHE  1999  2.899125e+11   -1.74
10326  Switzerland          CHE  2000  2.720555e+11   -6.16
10327  Switzerland          CHE  2001  2.786313e+11    2.42
10328  Switzerland          CHE  2002  3.014168e+11    8.18
10329  Switzerland          CHE  2003  3.529148e+11   17.09
10330  Switzerland          CHE  2004  3.941637e+11   11.69
10331  Switzerland          CHE  2005  4.086894e+11    3.69
10332  Switzerland          CHE  2006  4.309212e+11    5.44
10333  Switzerland          CHE  2007  4.799130e+11   11.37
10334  Switzerland          CHE  2008  5.543635e+11   15.51
10335  Switzerland          CHE  2009  5.415065e+11   -2.32
10336  Switzerland          CHE  2010  5.837830e+11    7.81
10337  Switzerland          CHE  2011  6.995796e+11   19.84
10338  Switzerland          CHE  2012  6.680436e+11   -4.51
10339  Switzerland          CHE  2013  6.885042e+11    3.06
10340  Switzerland          CHE  2014  7.091826e+11    3.00
10341  Switzerland          CHE  2015  6.792892e+11   -4.22
10342  Switzerland          CHE  2016  6.688513e+11   -1.54

In [46]:
fig = px.line(df2, x = "Year", y = "GDP", title = "GDP Comparison ", color = "Country Name")
po.plot(fig, filename = "Comparison"+".html")

'Comparison.html'

### Countries having full data 1960-2016

In [59]:
dfs = []
for country_name in df["Country Name"].unique():
    c_name = df2[df2["Country Name"]==country_name]
    if(len(c_name)==57):
        dfs.append(c_name)

In [60]:
df_pr = pd.concat(dfs)
df_pr

                 Country Name Country Code  Year         Value    GDP
49     Caribbean small states          CSS  1960  2.004785e+09   0.00
50     Caribbean small states          CSS  1961  2.169733e+09   8.23
51     Caribbean small states          CSS  1962  2.289495e+09   5.52
52     Caribbean small states          CSS  1963  2.431592e+09   6.21
53     Caribbean small states          CSS  1964  2.626896e+09   8.03
...                       ...          ...   ...           ...    ...
11502                Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503                Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504                Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505                Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506                Zimbabwe          ZWE  2016  1.661996e+10   1.93

[6840 rows x 5 columns]

In [61]:
fig = px.line(df_pr, x = "Year", y = "GDP", title = "Countries GDP", color = "Country Name")
po.plot(fig, filename = "Coutries GDP")

C:\Users\shiva\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Coutries GDP` didn't end with .html. Adding .html to the end of your file.

'Coutries GDP.html'